--
-- PostgreSQL database dump
--

\restrict ZUqayRhaHWLffamyHCAeN5dkVmeBloWLpaeD4DIfjME6gtXTQx0EfxBWyYYuy2n

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_stat_statements; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_stat_statements WITH SCHEMA public;


--
-- Name: EXTENSION pg_stat_statements; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_stat_statements IS 'track planning and execution statistics of all SQL statements executed';


--
-- Name: create_statistic_for_ad_detail(); Type: FUNCTION; Schema: public; Owner: Secret
--

CREATE FUNCTION public.create_statistic_for_ad_detail() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO statistic (ad_detail_id)
    VALUES (NEW.id);
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_statistic_for_ad_detail() OWNER TO "Secret";

--
-- Name: create_wallet_for_new_client(); Type: FUNCTION; Schema: public; Owner: Secret
--

CREATE FUNCTION public.create_wallet_for_new_client() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO client_wallet (client_id) 
    VALUES (NEW.id);
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_wallet_for_new_client() OWNER TO "Secret";

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: Secret
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO "Secret";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ad; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.ad (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_id uuid,
    title text NOT NULL,
    content text NOT NULL,
    img_path text,
    target_url text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ad_content_check CHECK (((length(content) >= 1) AND (length(content) <= 200))),
    CONSTRAINT ad_img_path_check CHECK ((length(img_path) <= 100)),
    CONSTRAINT ad_target_url_check CHECK (((length(target_url) >= 1) AND (length(target_url) <= 200))),
    CONSTRAINT ad_title_check CHECK (((length(title) >= 1) AND (length(title) <= 40)))
);


ALTER TABLE public.ad OWNER TO "Secret";

--
-- Name: ad_detail; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.ad_detail (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    ad_id uuid,
    budget integer NOT NULL,
    status text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    start_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    end_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ad_detail_budget_check CHECK ((budget >= 0)),
    CONSTRAINT ad_detail_status_check CHECK ((status = ANY (ARRAY['active'::text, 'non-active'::text])))
);


ALTER TABLE public.ad_detail OWNER TO "Secret";

--
-- Name: client; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.client (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    img_path character varying(120),
    user_first_name character varying(20),
    user_second_name character varying(20),
    company character varying(80),
    phone_number character varying(30),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT client_email_check CHECK (((length(email) >= 5) AND (length(email) <= 100))),
    CONSTRAINT client_name_check CHECK (((length(name) >= 4) AND (length(name) <= 50))),
    CONSTRAINT client_password_hash_check CHECK ((length(password_hash) <= 120))
);


ALTER TABLE public.client OWNER TO "Secret";

--
-- Name: client_wallet; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.client_wallet (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_id uuid,
    balance integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT client_wallet_balance_check CHECK ((balance >= 0))
);


ALTER TABLE public.client_wallet OWNER TO "Secret";

--
-- Name: notification_user; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.notification_user (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_id uuid,
    notification_text text NOT NULL,
    type text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT notification_user_notification_text_check CHECK (((length(notification_text) >= 1) AND (length(notification_text) <= 200))),
    CONSTRAINT notification_user_type_check CHECK (((length(type) >= 1) AND (length(type) <= 40)))
);


ALTER TABLE public.notification_user OWNER TO "Secret";

--
-- Name: slot_event; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.slot_event (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    slot_id uuid NOT NULL,
    ad_detail_id uuid NOT NULL,
    event_type text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT slot_event_event_type_check CHECK ((event_type = ANY (ARRAY['impression'::text, 'click'::text])))
);


ALTER TABLE public.slot_event OWNER TO "Secret";

--
-- Name: slots; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.slots (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    slot_name character varying(100) NOT NULL,
    min_cost_adv integer NOT NULL,
    format_of_banner character varying(20) NOT NULL,
    status character varying(10) DEFAULT 'active'::character varying NOT NULL,
    back_color character varying(7) DEFAULT '#ffffff'::character varying NOT NULL,
    text_color character varying(7) DEFAULT '#000000'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT slots_back_color_check CHECK (((back_color)::text ~ '^#[0-9A-Fa-f]{6}$'::text)),
    CONSTRAINT slots_format_of_banner_check CHECK (((format_of_banner)::text = ANY ((ARRAY['horizontal'::character varying, 'vertical'::character varying, 'square'::character varying])::text[]))),
    CONSTRAINT slots_min_cost_adv_check CHECK ((min_cost_adv >= 0)),
    CONSTRAINT slots_slot_name_check CHECK (((length((slot_name)::text) >= 1) AND (length((slot_name)::text) <= 100))),
    CONSTRAINT slots_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'paused'::character varying])::text[]))),
    CONSTRAINT slots_text_color_check CHECK (((text_color)::text ~ '^#[0-9A-Fa-f]{6}$'::text))
);


ALTER TABLE public.slots OWNER TO "Secret";

--
-- Name: statistic; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.statistic (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    ad_detail_id uuid,
    clicks integer DEFAULT 0 NOT NULL,
    impressions integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT statistic_clicks_check CHECK ((clicks >= 0)),
    CONSTRAINT statistic_impressions_check CHECK ((impressions >= 0))
);


ALTER TABLE public.statistic OWNER TO "Secret";

--
-- Name: wallet_top_up; Type: TABLE; Schema: public; Owner: Secret
--

CREATE TABLE public.wallet_top_up (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_wallet_id uuid,
    yoo_payment_id text NOT NULL,
    amount integer NOT NULL,
    payment_method text NOT NULL,
    status text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT wallet_top_up_amount_check CHECK ((amount > 0)),
    CONSTRAINT wallet_top_up_payment_method_check CHECK (((length(payment_method) >= 1) AND (length(payment_method) <= 40))),
    CONSTRAINT wallet_top_up_status_check CHECK (((length(status) >= 1) AND (length(status) <= 40))),
    CONSTRAINT wallet_top_up_yoo_payment_id_check CHECK (((length(yoo_payment_id) >= 1) AND (length(yoo_payment_id) <= 100)))
);


ALTER TABLE public.wallet_top_up OWNER TO "Secret";

--
-- Name: ad_detail ad_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.ad_detail
    ADD CONSTRAINT ad_detail_pkey PRIMARY KEY (id);


--
-- Name: ad ad_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.ad
    ADD CONSTRAINT ad_pkey PRIMARY KEY (id);


--
-- Name: client client_email_key; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_email_key UNIQUE (email);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: client_wallet client_wallet_client_id_key; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.client_wallet
    ADD CONSTRAINT client_wallet_client_id_key UNIQUE (client_id);


--
-- Name: client_wallet client_wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.client_wallet
    ADD CONSTRAINT client_wallet_pkey PRIMARY KEY (id);


--
-- Name: notification_user notification_user_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.notification_user
    ADD CONSTRAINT notification_user_pkey PRIMARY KEY (id);


--
-- Name: slot_event slot_event_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.slot_event
    ADD CONSTRAINT slot_event_pkey PRIMARY KEY (id);


--
-- Name: slots slots_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.slots
    ADD CONSTRAINT slots_pkey PRIMARY KEY (id);


--
-- Name: statistic statistic_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.statistic
    ADD CONSTRAINT statistic_pkey PRIMARY KEY (id);


--
-- Name: wallet_top_up wallet_top_up_pkey; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.wallet_top_up
    ADD CONSTRAINT wallet_top_up_pkey PRIMARY KEY (id);


--
-- Name: wallet_top_up wallet_top_up_yoo_payment_id_key; Type: CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.wallet_top_up
    ADD CONSTRAINT wallet_top_up_yoo_payment_id_key UNIQUE (yoo_payment_id);


--
-- Name: idx_slot_event_created_at; Type: INDEX; Schema: public; Owner: Secret
--

CREATE INDEX idx_slot_event_created_at ON public.slot_event USING btree (created_at);


--
-- Name: idx_slot_event_slot_id_created_at; Type: INDEX; Schema: public; Owner: Secret
--

CREATE INDEX idx_slot_event_slot_id_created_at ON public.slot_event USING btree (slot_id, created_at);


--
-- Name: idx_slot_event_slot_id_event_type_created_at; Type: INDEX; Schema: public; Owner: Secret
--

CREATE INDEX idx_slot_event_slot_id_event_type_created_at ON public.slot_event USING btree (slot_id, event_type, created_at);


--
-- Name: ad_detail tr_ad_detail_updated_at; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER tr_ad_detail_updated_at BEFORE UPDATE ON public.ad_detail FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: ad tr_ad_updated_at; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER tr_ad_updated_at BEFORE UPDATE ON public.ad FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: client tr_client_updated_at; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER tr_client_updated_at BEFORE UPDATE ON public.client FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: client_wallet tr_client_wallet_updated_at; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER tr_client_wallet_updated_at BEFORE UPDATE ON public.client_wallet FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: slots tr_slots_updated_at; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER tr_slots_updated_at BEFORE UPDATE ON public.slots FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: statistic tr_statistic_updated_at; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER tr_statistic_updated_at BEFORE UPDATE ON public.statistic FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: wallet_top_up tr_wallet_top_up_updated_at; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER tr_wallet_top_up_updated_at BEFORE UPDATE ON public.wallet_top_up FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: ad_detail trigger_create_statistic; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER trigger_create_statistic AFTER INSERT ON public.ad_detail FOR EACH ROW EXECUTE FUNCTION public.create_statistic_for_ad_detail();


--
-- Name: client trigger_create_wallet_after_client_insert; Type: TRIGGER; Schema: public; Owner: Secret
--

CREATE TRIGGER trigger_create_wallet_after_client_insert AFTER INSERT ON public.client FOR EACH ROW EXECUTE FUNCTION public.create_wallet_for_new_client();


--
-- Name: ad ad_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.ad
    ADD CONSTRAINT ad_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: ad_detail ad_detail_ad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.ad_detail
    ADD CONSTRAINT ad_detail_ad_id_fkey FOREIGN KEY (ad_id) REFERENCES public.ad(id) ON DELETE CASCADE;


--
-- Name: client_wallet client_wallet_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.client_wallet
    ADD CONSTRAINT client_wallet_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: notification_user notification_user_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.notification_user
    ADD CONSTRAINT notification_user_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: slot_event slot_event_ad_detail_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.slot_event
    ADD CONSTRAINT slot_event_ad_detail_id_fkey FOREIGN KEY (ad_detail_id) REFERENCES public.ad_detail(id) ON DELETE CASCADE;


--
-- Name: slot_event slot_event_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.slot_event
    ADD CONSTRAINT slot_event_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.slots(id) ON DELETE CASCADE;


--
-- Name: slots slots_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.slots
    ADD CONSTRAINT slots_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: statistic statistic_ad_detail_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.statistic
    ADD CONSTRAINT statistic_ad_detail_id_fkey FOREIGN KEY (ad_detail_id) REFERENCES public.ad_detail(id) ON DELETE CASCADE;


--
-- Name: wallet_top_up wallet_top_up_client_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Secret
--

ALTER TABLE ONLY public.wallet_top_up
    ADD CONSTRAINT wallet_top_up_client_wallet_id_fkey FOREIGN KEY (client_wallet_id) REFERENCES public.client_wallet(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO app_user;


--
-- Name: FUNCTION create_statistic_for_ad_detail(); Type: ACL; Schema: public; Owner: Secret
--

GRANT ALL ON FUNCTION public.create_statistic_for_ad_detail() TO app_user;


--
-- Name: FUNCTION create_wallet_for_new_client(); Type: ACL; Schema: public; Owner: Secret
--

GRANT ALL ON FUNCTION public.create_wallet_for_new_client() TO app_user;


--
-- Name: FUNCTION pg_stat_statements(showtext boolean, OUT userid oid, OUT dbid oid, OUT toplevel boolean, OUT queryid bigint, OUT query text, OUT plans bigint, OUT total_plan_time double precision, OUT min_plan_time double precision, OUT max_plan_time double precision, OUT mean_plan_time double precision, OUT stddev_plan_time double precision, OUT calls bigint, OUT total_exec_time double precision, OUT min_exec_time double precision, OUT max_exec_time double precision, OUT mean_exec_time double precision, OUT stddev_exec_time double precision, OUT rows bigint, OUT shared_blks_hit bigint, OUT shared_blks_read bigint, OUT shared_blks_dirtied bigint, OUT shared_blks_written bigint, OUT local_blks_hit bigint, OUT local_blks_read bigint, OUT local_blks_dirtied bigint, OUT local_blks_written bigint, OUT temp_blks_read bigint, OUT temp_blks_written bigint, OUT blk_read_time double precision, OUT blk_write_time double precision, OUT temp_blk_read_time double precision, OUT temp_blk_write_time double precision, OUT wal_records bigint, OUT wal_fpi bigint, OUT wal_bytes numeric, OUT jit_functions bigint, OUT jit_generation_time double precision, OUT jit_inlining_count bigint, OUT jit_inlining_time double precision, OUT jit_optimization_count bigint, OUT jit_optimization_time double precision, OUT jit_emission_count bigint, OUT jit_emission_time double precision); Type: ACL; Schema: public; Owner: Secret
--

GRANT ALL ON FUNCTION public.pg_stat_statements(showtext boolean, OUT userid oid, OUT dbid oid, OUT toplevel boolean, OUT queryid bigint, OUT query text, OUT plans bigint, OUT total_plan_time double precision, OUT min_plan_time double precision, OUT max_plan_time double precision, OUT mean_plan_time double precision, OUT stddev_plan_time double precision, OUT calls bigint, OUT total_exec_time double precision, OUT min_exec_time double precision, OUT max_exec_time double precision, OUT mean_exec_time double precision, OUT stddev_exec_time double precision, OUT rows bigint, OUT shared_blks_hit bigint, OUT shared_blks_read bigint, OUT shared_blks_dirtied bigint, OUT shared_blks_written bigint, OUT local_blks_hit bigint, OUT local_blks_read bigint, OUT local_blks_dirtied bigint, OUT local_blks_written bigint, OUT temp_blks_read bigint, OUT temp_blks_written bigint, OUT blk_read_time double precision, OUT blk_write_time double precision, OUT temp_blk_read_time double precision, OUT temp_blk_write_time double precision, OUT wal_records bigint, OUT wal_fpi bigint, OUT wal_bytes numeric, OUT jit_functions bigint, OUT jit_generation_time double precision, OUT jit_inlining_count bigint, OUT jit_inlining_time double precision, OUT jit_optimization_count bigint, OUT jit_optimization_time double precision, OUT jit_emission_count bigint, OUT jit_emission_time double precision) TO app_user;


--
-- Name: FUNCTION pg_stat_statements_info(OUT dealloc bigint, OUT stats_reset timestamp with time zone); Type: ACL; Schema: public; Owner: Secret
--

GRANT ALL ON FUNCTION public.pg_stat_statements_info(OUT dealloc bigint, OUT stats_reset timestamp with time zone) TO app_user;


--
-- Name: FUNCTION pg_stat_statements_reset(userid oid, dbid oid, queryid bigint); Type: ACL; Schema: public; Owner: Secret
--

GRANT ALL ON FUNCTION public.pg_stat_statements_reset(userid oid, dbid oid, queryid bigint) TO app_user;


--
-- Name: FUNCTION update_updated_at_column(); Type: ACL; Schema: public; Owner: Secret
--

GRANT ALL ON FUNCTION public.update_updated_at_column() TO app_user;


--
-- Name: TABLE ad; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.ad TO app_user;


--
-- Name: TABLE ad_detail; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.ad_detail TO app_user;


--
-- Name: TABLE client; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.client TO app_user;


--
-- Name: TABLE client_wallet; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.client_wallet TO app_user;


--
-- Name: TABLE notification_user; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.notification_user TO app_user;


--
-- Name: TABLE pg_stat_statements; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pg_stat_statements TO app_user;


--
-- Name: TABLE pg_stat_statements_info; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pg_stat_statements_info TO app_user;


--
-- Name: TABLE slot_event; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.slot_event TO app_user;


--
-- Name: TABLE slots; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.slots TO app_user;


--
-- Name: TABLE statistic; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.statistic TO app_user;


--
-- Name: TABLE wallet_top_up; Type: ACL; Schema: public; Owner: Secret
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.wallet_top_up TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: Secret
--

ALTER DEFAULT PRIVILEGES FOR ROLE "Secret" IN SCHEMA public GRANT SELECT,USAGE ON SEQUENCES  TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: Secret
--

ALTER DEFAULT PRIVILEGES FOR ROLE "Secret" IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO app_user;


--
-- PostgreSQL database dump complete
--

\unrestrict ZUqayRhaHWLffamyHCAeN5dkVmeBloWLpaeD4DIfjME6gtXTQx0EfxBWyYYuy2n

